body {
    text-align: center;
    background-color: black
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease
}
button:hover{
    background-color: rgb(88, 88, 86);
}

h1 {
    color: bisque
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color:azure
}
    
    #reiniciar {
        position: fixed;  /* Fixa o botão na tela */
    bottom: 20px;     /* Coloca o botão 20px acima da parte inferior da tela */
    left: 50%;        /* Coloca o botão no centro horizontal */
    transform: translateX(-50%);  /* Ajusta o botão para ficar exatamente no centro */
    }
    button:disabled{
        background-color: gray; /* Cor do botão quando desabilitado */
    cursor: not-allowed;     /* Cursor de "não permitido" */
    opacity: 0.6;            /* Torna o botão um pouco mais transparente */
    }
    
    
    